/* You can add global styles to this file, and also import other style files */

@import "antrago.theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin: 0 1px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 10px;
  }
}
